<div class='page-body'>
  <p>Microverse Coutersy<%=
    link_to 'curriculum', 'https://www.theodinproject.com/courses/ruby-on-rails/lessons/authentication'
    %>. View on <%=
    link_to 'Github', 'https://github.com/' %>.</p>
  <p>For full functionality sign up or login with <i>odin@example.com</i> and <i>password</i>.</p>
</div>